# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build output
build/
DerivedData/
*.xcresult
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Editors
.vscode/
!.vscode/
.vscode/*
!.vscode/tasks.json
.idea/
*.swp
*~
